.container {
    width: 700px;
    background-color: bisque;
}

.userAvatar {
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.userMessage {
    border-bottom: 1px solid black;
    padding: 5px;
}

.wrapperColumn {
    display: flex;
    flex-direction: column;
}

.nickname {
    font-weight: bold;
}